<%- include ('../users/layout/header.ejs') %>
<div style="height: 7rem; width: 100%;"></div>

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    
                    <h1>THANKS FOR YOUR ORDER</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div  class=" mt-100  d-flex justify-content-center">
    <p  class="text-success" style="font-size:30px" >Your Order has been placed</p>
</div>

<div  class=" d-flex justify-content-center">
<video controls="true" src="/imgadmin/orderSuccess.mp4 " autoplay="true" preload="auto" width="350px" height="300px">
</video>
</div>

<div class="mt-1  mb-100 d-flex justify-content-center">
    <a class="btn btn-secondary" href="/orderDetails">view Orders</a>

</div>









<%- include ('../users/layout/footer.ejs') %>

<%- include ('../users/layout/script.ejs') %>


