 <!-- Bootstrap core JavaScript-->
 <script src="/vendoradmin/jquery/jquery.min.js"></script>
 <script src="/vendoradmin/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->
 <script src="/vendoradmin/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for all pages-->
 <script src="/jsadmin/sb-admin-2.min.js"></script>

 <!-- Page level plugins -->
 <script src="/vendoradmin/datatables/jquery.dataTables.min.js"></script>
 <script src="/vendoradmin/datatables/dataTables.bootstrap4.min.js"></script>

 <!-- Page level custom scripts -->
 <script src="/jsadmin/demo/datatables-demo.js"></script>

 <!-- modal js -->
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-ZeesM/V+R2Qz2Bg+U/eSOo7/H/jlKp+g3qHtE1TtID9zRgxTQTcLsFb7cBlLzgjA" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-0E5J/h0rkUgP/HlGjt5z/Ogdgxq/vwK/1N/06aR8N/iN18v6lhU6XQjWOBnxzvjA" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-cFjK2sxO3q0L2QyOI06AEE04bKj0VuKzgsZH7VX9SJ0xjKFmJlPvKjCj5/ofg+mh" crossorigin="anonymous"></script>

</body>

</html>